.App {
  justify-content: center;
  align-items: center;
  /* background-color: rgba(55, 205, 25, 0.2); */
}
@media screen and (max-width: 480px) {
  .App {
    width: 100%;
    margin: 0;
  }
}

.nav {
  position: fixed;
  top: 0;
  background-image: linear-gradient(to right, white, transparent, white);
  @apply hidden md:flex lg:flex lg:flex-row justify-between w-[100%] z-[1] h-[3rem] items-center border-b-[1px];
}

.nav img {
  @apply w-[10%] h-[20px] ml-[3%];
}
.navs {
  @apply w-[60%] flex flex-row justify-center  items-center font-serif text-[1rem];
}

.profileImg {
  @apply w-[75vw] h-[40vh] rounded-[10px];
}
@media screen and (min-width: 481px) {
  .navs {
    width: 100%;
    flex-direction: row;
  }
}
.navimg {
  @apply ml-[2rem];
}
.navs p {
  @apply w-[5.5rem] flex flex-col justify-center  items-center text-center;
}
@media screen and (max-width: 480px) {
  .nav p {
    width: 7rem;
    height: 4vh;
  }
}

.navs p:hover {
  @apply border-b-[1px] text-[blue];
}
.logo1 h1,
.logo1 h2,
.logo1 h4,
.logo1 i {
  text-shadow: 5px 6px 2px #0e4e97;
}
.logo1 i {
  @apply lg:text-[1.5rem];
}
.logo1 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: image 40s infinite alternate;

  @apply lg:mt-[4%] w-[100%] h-[90vh] flex flex-col justify-center items-center text-center  text-white;
}

@keyframes image {
  0% {
    background-image: url("https://unsplash.it/600/600");
  }
  50% {
    background-image: url("https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/signup-cover.jpg");
  }
  100% {
    background-image: url("https://unsplash.it/601/601");
  }
}

@media screen and (max-width: 480px) {
  .logo1 {
    width: 100%;
    height: 45vh;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .logo1 h4 {
    text-align: center;
    justify-content: center;
    font-size: 1rem;
  }
}

.logo1 h1 {
  @apply font-serif tracking-[8px] text-[4rem];
}
@media screen and (max-width: 480px) {
  .logo1 h1 {
    font-size: 2rem;
  }
}

.overlay {
  /* border-radius: 100% 0px 0px 100%; */
  background-color: rgba(0, 0, 0, 0.6);
  @apply w-[100%] h-[45vh] lg:h-[90vh] flex flex-col justify-center items-center text-center;
}
@media screen and (max-width: 480px) {
  .brand {
    width: 100%;
    justify-content: center;
  }
}

.company-info {
  background-image: url("./asset/marc-babin-ecGZWPOvya0-unsplash.jpg");
  background-position: top;
  background-size: contain;
  background-attachment: fixed;
  width: 100%;
  border-radius: 100% 0px 100% 0px;
}
.company-info-overlay {
  border-radius: 95% 0px 95% 0px;
  background-color: rgba(163, 106, 148, 0.5);
}

@media screen and (max-width: 480px) {
  .company-info {
    width: 100%;
    height: auto;
    margin-bottom: 5rem;
  }
}

.cleaning_equip {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  place-items: center;
  width: 100%;
  padding: 1rem;
  @apply my-[5%];
}
.imags {
  transform: skew(50deg, 10deg);
  background: linear-gradient(to bottom, #45a4de, #eff8fc, #fee5ad);
  @apply w-[80vw] h-[45vh] lg:w-[20vw]  lg:h-[50vh] flex  flex-col justify-center items-center lg:mb-[2rem] bg-[white];
}

@media screen and (max-width: 480px) {
  .cleaning_equip {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    place-items: center;
    width: 100%;
    padding: 1rem;
  }
}

.rent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  place-items: center;
  margin-top: 5rem;
  width: 100%;
  padding: 2rem;
}

.hiring {
  border: 1px solid lightgray;
  @apply flex  flex-col  justify-center  items-center bg-[white] m-[1rem];
}

.hiring img {
  max-width: 100%;
  height: 15rem;
  object-fit: cover;
  align-items: center;
  padding-top: 2%;
}

.consultance {
  /* margin-top: 2rem; */
  @apply w-[100%] flex  flex-col lg:flex-row   mb-[4rem] lg:gap-[2%];
}
.consultance h3 {
  @apply my-[2rem] text-center text-[teal];
}
.consultform {
  @apply flex flex-col justify-center  items-center;
}
.consultform label {
  @apply mr-[11rem];
}
.consultance aside {
  @apply flex flex-col items-center lg:w-[30%] ml-[1%] lg:ml-[0rem];
}
.consultance main {
  @apply w-[100%] lg:w-[70%]  flex flex-col justify-center items-center;
}
.consultparag {
  line-height: 2rem;
  @apply w-[90%] lg:text-[1.3rem] lg:ml-[1rem] mt-[2rem] flex flex-col gap-[2rem] px-[1rem];
}
.consultbg {
  background-image: url("./asset/scott-graham-5fNmWej4tAA-unsplash.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  @apply w-[100%] h-[40vh] lg:h-[62vh] flex flex-col  justify-center items-center lg:mt-[4rem] lg:ml-[1rem];
}
.consultbg h4 {
  background-image: linear-gradient(to right, transparent, transparent, black);
  font-style: italic;
  @apply mt-[12rem] text-[white] w-[100%] text-right  lg:p-[0.75rem] lg:mt-[20rem];
}
.drainage {
  @apply w-[100%] lg:mt-[2%] mb-[3rem] flex flex-col lg:flex-row;
}
.disinfect {
  @apply w-[100%] lg:mt-[2%] mb-[3rem] flex flex-col lg:flex-row  justify-center;
}
.drainage main {
  @apply flex  flex-col w-[90%] lg:w-[75%];
}
.disinfect main {
  @apply w-[98%] lg:w-[75%]  flex flex-col  items-center gap-[2rem];
}
.drainage aside {
  @apply flex flex-col justify-center items-center w-[100%] lg:ml-[0px] lg:w-[25%];
}
.disinfect aside {
  @apply flex flex-col  items-center mt-[2rem] w-[100%] lg:ml-[0px] lg:w-[25%];
}
.drainage p {
  @apply lg:text-[1.3rem] font-serif;
}
.drainageTexts {
  @apply flex flex-col lg:text-[1.2rem] gap-[1rem] lg:gap-[2rem] mt-[2rem] ml-[1rem];
}
.drainAdvert {
  @apply w-[90%] mt-[4rem] text-center lg:w-[80%];
}
.drainAdvert p {
  color: white;
  background-color: hsl(216deg 72% 23%);
  @apply text-[1rem] font-serif;
}
.drainimg {
  background-image: url("https://assets.thehansindia.com/h-upload/2021/12/21/1136894-drainage.webp");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  @apply w-[100%] h-[30vh] lg:h-[62vh] flex flex-col  justify-center items-center mt-[4rem] ml-[1rem];
}
.plankimg {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJGXOyaY9pVOUNiINSZWx-QAm-YYCdHTwoOiagDjhzLlHunc-JsgqL3pCv0mlQJJKgoMw&usqp=CAU");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  @apply w-[100%] h-[30vh] lg:h-[62vh] flex flex-col  justify-center items-center mt-[4rem] ml-[1rem];
}
.disinfectimg {
  background-image: url("https://salud-america.org/wp-content/uploads/2022/05/iStock-1241052262.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  @apply w-[100%] h-[30vh] lg:h-[62vh] flex flex-col  justify-center items-center mt-[4rem] ml-[1rem];
}
.drainimg h4,
.disinfectimg h4,
.plankimg h4 {
  background-image: linear-gradient(to right, transparent, transparent, black);
  @apply w-[100%] text-[white] text-right pr-[0.5rem] mt-[7rem] lg:mt-[21rem];
}
.pestName {
  background-image: linear-gradient(to right, white, transparent, black);
  @apply w-[100%] z-[1] lg:text-[1.5rem] text-[white] text-right pr-[0.5rem] mb-[1rem];
}

.drainAdvert img {
  @apply w-[100%];
}

.trainning {
  @apply lg:w-[98%] flex flex-col justify-center items-center lg:flex-row mt-[3rem] mx-[1%] lg:gap-[2rem];
}

.trainning main {
  @apply lg:w-[70%];
}
.trainning aside {
  @apply flex flex-col lg:mb-[35%];
}

.trainning p,
.commercial p,
.domestic p {
  @apply lg:text-[1.3rem] lg:leading-[2rem];
}
.commercial,
.domestic,
.pests {
  @apply flex flex-col justify-center items-center lg:flex-row gap-[1rem];
}
.pestDeal {
  @apply flex flex-col lg:justify-between items-center lg:flex-row;
}
.pestDeal div:nth-child(2) {
  @apply flex  flex-col justify-center  items-center;
}
.cleaningBg {
  @apply mt-[4rem];
}
.commercial main,
.domestic main {
  @apply w-[95%] lg:w-[75%];
}
.commercial main p {
  @apply w-[100%];
}
.trainning img {
  @apply w-[100%] h-[35vh] lg:h-[60vh] flex flex-col  justify-center items-center mt-[1rem];
}
.ads {
  @apply text-[0.80rem] lg:w-[10%] lg:text-[1.3rem]   hover:text-[blue]  font-serif font-bold mb-[1rem] lg:mt-[10%];
}
.main {
  background-image: url("./asset/s-o-c-i-a-l-c-u-t-1RT4txDDAbM-unsplash.jpg");
  background-position: bottom;
  background-repeat: repeat;
  background-size: cover;
  @apply max-w-[93vw] lg:w-[100%] h-[40vh] lg:h-[62vh] flex flex-col lg:ml-[1rem];
}

.main h4 {
  background-image: linear-gradient(to right, transparent, transparent, black);
  font-style: italic;
  @apply mt-[50%] lg:mt-[22rem] pr-[0.5rem] text-[white] w-[100%] text-right;
}

.cleaningBg h4,
.h4 {
  background-image: linear-gradient(to right, transparent, transparent, black);
  font-style: italic;
  @apply mt-[35%] pr-[0.5rem] text-[white] w-[100%] text-right;
}

.serviceDescription {
  @apply w-[80vw] p-[15px] lg:w-[20rem] h-[auto]  mt-[2rem] lg:mt-[10%];
  background-image: linear-gradient(
    blue,
    transparent,
    white,
    transparent,
    blue
  );
  margin-bottom: 2rem;
}

.serviceDescription div p {
  border-bottom: 1px solid gray;
  color: black;
}

.serviceDescription div {
  @apply flex flex-row items-center m-[1rem] gap-[1rem];
}

.commercial aside,
.domestic aside {
  @apply flex flex-col lg:justify-center lg:ml-[1rem];
}

.commercialSlideImg {
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  background-image: url("./asset/jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @apply flex flex-row overflow-auto w-[95%] lg:h-[70vh] ml-[3%]
    lg:m-[1.5rem] gap-[1.5rem] lg:ml-[2rem] mb-[5rem];
}

.commercialSlideImg img {
  @apply mt-[15px] w-[60%];
}

.commercialSlideImg::-webkit-scrollbar {
  @apply flex-none;
}
.event {
  margin-top: 2rem;
  @apply w-[100%] mb-[2rem] flex flex-col lg:flex-row gap-[1rem] lg:gap-[0px] lg:h-[100%];
}

.event p {
  @apply font-serif  lg:text-[1.3rem];
}
.eventimg {
  @apply mt-[2rem] mb-[2rem];
}
.event_rent {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  @apply w-[80%] grid lg:grid-cols-4  lg:w-[93%] lg:m-[1rem] gap-[1.5rem] lg:p-[2rem] mb-[2rem] ml-[10%] lg:ml-[4%];
}
.event_img img {
  border-radius: 10px 0px 0px 0px;
  @apply w-[35rem] h-[13rem];
}
.event_img p {
  background-color: whitesmoke;
  @apply lg:text-[1.3rem];
}
.event_img div {
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 1px 18px 5px #a7d7f6;
}
.event_img div:hover {
  transform: scale(1.1);
}
.event_managemnt {
  background-image: url("https://e7.pngegg.com/pngimages/268/1005/png-clipart-cleaning-laborer-empresa-mr-power-clean-mr-clean-service-team.png");
  background-position: top;
  background-repeat: repeat;
  background-size: cover;
  @apply lg:w-[100%] h-[40vh] lg:h-[60vh] flex flex-col  justify-center items-center mb-[2rem];
}
.wast_managemnt {
  background-image: url("https://3egroup.com.au/wp-content/uploads/2022/03/Rep-Image-Waste-Management-1.png");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  @apply lg:w-[100%] h-[40vh] lg:h-[60vh] flex flex-col  justify-center items-center mb-[2rem];
}
.event_managemnt h4,
.wast_managemnt h4 {
  background-image: linear-gradient(to right, transparent, transparent, black);
  @apply w-[100%] mt-[50%] lg:mt-[20rem] text-[white] text-right px-[0.5rem];
}
.event main {
  @apply w-[96%] lg:h-[60vh] lg:mt-[3rem] ml-[2%] lg:w-[75%];
}
.event aside {
  @apply lg:w-[25%] lg:ml-[5rem] lg:mt-[1rem];
}
.ads_Link {
  @apply my-[3%] text-center text-[1.4rem] font-serif font-bold text-[blue];
}
.event_ads {
  @apply flex  flex-col justify-center  items-center mt-[10%] lg:mt-[0px];
}
.clueVideo {
  @apply flex flex-col justify-end gap-[2rem] w-[100%] h-[40vh] rounded-[15px] lg:my-[rem];
}
.show_room {
  width: 100%;
  @apply mt-[3rem]  p-[2rem];
}
@media screen and (max-width: 480px) {
  .show_room {
    width: 100%;
    height: auto;
  }
}
.show_room input {
  border-radius: 15px;
  background-image: linear-gradient(to right, white, transparent);
  @apply w-[80%] bg-[transparent]  border-b-[1px] lg:w-[50%] pl-[1rem] h-[2.5rem]  lg:my-[2rem] lg:bg-[white] ml-[1rem];
}
.show_room input:focus {
  outline: none;
}
.show_room input::placeholder {
  @apply font-serif text-[1em];
}
.clue {
  @apply mt-[5rem] w-[100%];
}
.clueVideo video {
  border-image: url("./asset/cdc-jjrXvzbqC5E-unsplash.jpg");
  padding: 5px;
  border-radius: 1rem;
  margin-top: 2rem;
}
.clueImg {
  @apply lg:grid lg:grid-cols-[repeat(auto-fit,minmax(20rem,1fr))] flex flex-col w-[85%] ml-[5%] lg:ml-[0px] gap-[5%] lg:gap-[1rem] lg:w-[100%] lg:pb-[3rem];
}
.clueImg img {
  @apply w-[100%] lg:h-[55vh] rounded-[10px] object-cover m-[5%];
}

.cleaning_product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  place-items: center;
}
@media screen and (max-width: 480px) {
  .cleaning_product,
  .rent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
  }
}

.commercial aside {
  @apply w-[28%] flex flex-col justify-center  items-center;
}

.commercial main p {
  @apply px-[2rem] mb-[4rem];
}
.first {
  background: linear-gradient(to bottom, #45a4de, #eff8fc, #fee5ad);
  @apply w-[80vw] h-[43vh] lg:w-[20vw]  lg:h-[52vh] flex  flex-col justify-center items-center lg:mb-[2rem] bg-[white];
}

.first p,
.hiring p {
  background-color: #0095eb;
  @apply lg:text-[1.4rem] text-[white] w-[100%]   text-center  py-[0.65rem];
}
.first i {
  @apply lg:w-[5.5rem] h-[10%]  flex  flex-col justify-center items-center ml-[64%] lg:ml-[67%] font-serif bg-[#ab060c] text-[white];
  padding: 0px 10px;
}
.first img {
  @apply w-[100%] lg:h-[15rem] object-contain  items-center;
}
@media screen and (max-width: 480px) {
  .first img {
    width: 80%;
    height: 30vh;
    object-fit: contain;
    align-items: center;
  }
}
.first_class_img {
  @apply w-[20rem] object-contain items-center;
}
.first img:hover {
  padding-bottom: 1rem;
}
.hiring img:hover {
  padding-bottom: 1rem;
}
@media screen and (max-width: 480px) {
  .hiring img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    object-fit: contain;
    align-items: center;
  }
}

.fumigation {
  @apply w-[5rem];
}
.commercial {
  @apply w-[5rem];
}
.disinfection {
  @apply w-[5rem];
}
.domestic {
  @apply w-[5rem];
}
.services p {
  @apply text-[1rem] lg:text-[1.3rem] font-bold;
}
.services {
  background-image: url("./asset/nordwood-themes-R53t-Tg6J4c-unsplash.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 100% 0%;
  @apply w-[100%] mb-[3%] pb-[0];
}
.service-overlay {
  /* background-color: rgba(209, 245, 245, 0.89); */
  border-radius: 0% 100%;
  @apply w-[100%];
}
.service {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  color: black;
}
@media screen and (max-width: 480px) {
  .service {
    display: flex;
    flex-direction: column;
  }
}
.service div {
  @apply flex flex-row;
}
.services img {
  @apply w-[20%] h-[5rem] m-[1rem] mt-4;
}
@media screen and (max-width: 480px) {
  .service img {
    width: 10%;
    height: 3rem;
    margin: 1rem;
  }
}
.services p {
  padding-right: 1rem;
  @apply w-[100%] font-light;
}
.services h3 {
  @apply font-extrabold tracking-[2px];
}
.h1 {
  @apply text-center text-[#0e4e97] pb-[1rem] lg:pb-[3.5rem]
    font-serif;
}
.environment {
  text-shadow: 5px 3px 2px black;
  @apply text-center text-[#0e4e97] lg:text-[6rem] text-[2.5rem];
}
.services h3 {
  @apply text-[#0e4e97] font-serif;
}
.service1 {
  @apply flex flex-row  gap-[2rem]  ml-[1rem] mt-[2rem];
}
.service2 {
  @apply flex flex-row  gap-[2rem]  ml-[1rem] mt-[2rem];
}
.form {
  @apply flex flex-col lg:w-[100%] h-[65vh] lg:h-[80vh]
    justify-center lg:px-4  font-serif mb-[10%];
}
.form input {
  border-radius: 10px;
  border-bottom: 1px solid lightgray;
  box-shadow: 1px 2px 1px black;
  @apply p-[0.45rem] w-[95%] ml-2 m-[0.25rem]
    bg-[transparent];
}
.form input:focus {
  outline: none;
}
.form input::-moz-placeholder {
  @apply font-serif pl-[0.5rem] text-[0.90rem];
}
.form textarea:focus {
  outline: none;
}
.form textarea {
  border-radius: 13px 0px;
  border-bottom: 1px solid lightgray;
  box-shadow: 1px 2px 1px black;
  @apply w-[95%] ml-2 bg-[transparent];
}
.form textarea::-webkit-scrollbar {
  display: none;
}
.form button {
  border-radius: 15px;
  @apply bg-[#0f0326] w-[95%] ml-[0.5rem] text-[1.3rem] text-white font-bold font-serif p-[0.5rem] mt-[1.5rem];
}
.form button:focus {
  outline: 0;
}
.form label {
  @apply ml-[1rem] text-[1rem] font-bold text-[gray] lg:text-[1.1rem];
}
.contact-align {
  @apply flex flex-col w-[100%] lg:mt-[4rem];
}
.text {
  @apply text-center text-[1.9rem] mt-[3rem]  font-serif;
}

@media screen and (max-width: 480px) {
  .text {
    font-size: 1.5rem;
    padding: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .contact-align {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 10%;
  }
}
.contact-align form {
  @apply h-[100%];
}
.contactFeedback {
  border-radius: 0px 0px 70% 0px;
  @apply bg-[#0f0326] flex flex-col justify-center items-center h-[30vh] lg:leading-[2.5rem];
}
.contactFeedback p,
.contactFeedback i {
  @apply text-[0.90rem] px-[2rem] text-center lg:text-[20px];
}
.contact {
  @apply flex flex-row lg:gap-[13rem] lg:my-[5rem]  justify-center  w-[100%] h-[100vh] lg:py-[5rem];
}
@media screen and (max-width: 480px) {
  .contact {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 480px) {
  .address {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1rem;
    color: gray;
    font-weight: bold;
    margin-bottom: 15%;
  }
}
.address p {
  line-height: 2rem;
  @apply text-[1.2rem]  tracking-[0.20rem];
}
.footer-container {
  border-radius: 30% 0px 0px 0px;
  background-image: url("./asset/vojtech-bruzek-Yrxr3bsPdS0-unsplash.jpg");
  background-size: cover;
  background-position: center;
  @apply w-[100%];
}
.footer {
  background-color: rgba(4, 2, 54, 0.8);
  border-radius: 32% 0px 0px 0px;
  padding: 5rem 0px;
  @apply flex flex-row  gap-[7rem] justify-center;
}
@media screen and (max-width: 480px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0;
    gap: 0.15rem;
    text-align: left;
  }
}
.footer ul {
  @apply mt-[1rem]  ml-[5%] lg:ml-[0px]  lg:mt-10;
}
footer li {
  @apply text-[#a7d7f6] font-serif text-[1rem] lg:text-[1.2rem] leading-[1.7rem] lg:leading-[2.7rem];
}
.footer li:hover {
  border-bottom: 1px solid rgba(21, 195, 201, 0.884);
}
footer img {
  @apply w-[2rem] h-[2rem]  rounded-[100%];
}
.media {
  border-radius: 0px 20px 0px 0px;
  @apply w-[100%] flex  flex-row justify-center lg:border-t-[0.15px] border-[gray] lg:h-[8rem] gap-[1rem] lg:mb-[1rem] lg:w-[40%];
}

.media_class {
  background-color: rgba(6, 6, 54, 0.8);
  @apply flex  flex-row h-[100%];
}
@media screen and (max-width: 480px) {
  .media_class {
    height: auto;
    @apply flex  flex-col;
  }
}
.copyright {
  border-radius: 20px 0px 0px 0px;
  width: 60%;
  height: 8rem;
  border-top: 0.25px solid grey;
  color: gray;
}
@media screen and (max-width: 480px) {
  .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
.BN {
  @apply w-[100%] mt-[1rem] lg:mt-[2.2rem] text-center  inline-flex;
}
.BN p {
  font-size: 0.9rem;
}
.BiCopyright {
  margin-top: 4px;
  margin-right: 5px;
}
@media screen and (max-width: 480px) {
  .BN {
  }
}
.producer {
  @apply lg:flex flex-row gap-[0.5rem];
}
.producer p {
  @apply lg:ml-[8rem] mr-[1rem];
}
.facebook,
.mail {
  @apply hidden lg:w-[20px] lg:h-[20px] rounded-[50%] lg:flex;
}
.media a {
  @apply mt-[2.5rem];
}
.media a .facebook {
  @apply ml-[2rem];
}
.logo {
  border: 1px solid red;
  @apply w-[4rem] h-[3rem] rounded-[100%];
}
.home {
  background-image: linear-gradient(white, #a7d7f6, #0e4e97);
  border-radius: 35px 0px 20px 35px;
  @apply flex flex-row items-center w-[10rem]  h-[2rem];
}
.styleLogo {
  @apply font-serif ml-[5px] tracking-[0.2rem] text-[1.5rem];
}
.details {
  @apply flex flex-col lg:flex lg:flex-row lg:w-[100%]  mt-[15%] justify-center items-center lg:mt-[3rem];
}
.product_map {
  @apply flex flex-col justify-center items-center w-[80%] mb-[2rem];
}
.details main {
  background-color: white;
  box-shadow: 1px 1px 15px 3px #a7d7f6;
  @apply flex flex-col lg:flex-row justify-center items-center  w-[95%] lg:mt-[0.5rem] gap-[1rem]  rounded-[15px];
}
.productDetailImage {
  @apply w-[30%];
}
.items_countbg {
  background-image: url("./asset/vojtech-bruzek-Yrxr3bsPdS0-unsplash.jpg");
  background-position: center;
  background-size: cover;
  @apply w-[95%]  h-[57vh] lg:w-[65%] lg:h-[80vh] lg:my-[2rem] rounded-[20px];
}
.items_count {
  background-color: rgb(5, 0, 5, 0.5);
  @apply m-[0] text-[white] flex flex-col justify-center items-center w-[100%] h-[100%] lg:mb-[15rem] rounded-[25px] font-bold lg:gap-[1rem];
}
.countButton {
  @apply w-[80%] flex flex-row justify-center;
}
.countButton button {
  @apply w-[20%] border-[1px] border-slate-400 m-[5px] text-[1.5rem] rounded-[15px] hover:bg-[white] hover:text-[#5e72e4] lg:mt-[1rem];
}
.items_count button:focus {
  outline: none;
}
.clearButton {
  @apply w-[80%] border-[1px] border-slate-400 p-[0.25rem] rounded-[10px] m-[0.5rem] text-[1rem]  hover:bg-[white] hover:text-[#5e72e4];
}
.buttonDiv {
  @apply flex flex-row w-[20%] justify-center items-center;
}

.domestic,
.disinfect,
.plank,
.pest,
.wast,
.commercial {
  @apply w-[100%] mt-[1rem];
}
.pestForm {
  @apply w-[90%] lg:w-[30%] lg:ml-[1.5rem];
}
.pest_map {
  background-color: rgba(255, 255, 255, 0.9);
  @apply w-[80%] grid lg:grid-cols-3  lg:w-[100%] lg:m-[1rem] gap-[1.5rem] lg:p-[2rem] mb-[2rem];
}
.pest_map p {
  @apply w-[100%] lg:text-[1.3rem] font-serif font-semibold lg:p-[0.5rem];
}
.texts {
  @apply min-w-[97vw] lg:h-[50vh] p-[10%] my-[3%] ml-[1%] lg:text-[1.4rem] flex flex-col justify-center items-center gap-[2rem] text-[blue];
}
.pest_map a {
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 1px 15px 3px #a7d7f6;
}
.pest_map img {
  border-radius: 10px 0px 0px 0px;
  @apply w-[100%]  h-[13em];
}
.pest_map a:hover {
  transform: scale(1.1);
}

.slider {
  margin: 0.5rem 0px;
  overflow: hidden;
  @apply lg:w-[90%] h-[98vh] ml-[4.5rem] pb-[2rem];
}
@media screen and (max-width: 480px) {
  .slider {
    width: 90%;
    height: 55vh;
    margin-left: 1.2rem;
    padding-bottom: 0.5rem;
  }
}
.image {
  position: relative;
  float: left;
  margin: 0px 17rem;
  @apply flex  flex-col  justify-center items-center  w-[51vw] h-[70vh];
}
@media screen and (max-width: 480px) {
  .image {
    width: 100vw;
    height: 30vh;
    margin: 0px 0.15rem;
  }
}
.image img {
  @apply w-[100%] h-[100%] rounded-[5px] object-contain;
}
.slide-container {
  @apply w-[84000px] h-[73vh] border-b-[1px];
  box-shadow: 1px 7px 9px black;
  position: relative;
  margin: 0px 9900rem 0px -9750px;
  animation-name: slide_image;
  animation-duration: 60s;
  animation-direction: normal;
  animation-play-state: inherit;
  animation-iteration-count: infinite;
  animation-delay: 30s;
  animation-fill-mode: both;
}
@keyframes slide_image {
  0% {
    left: 0px;
  }
  5% {
    left: 0px;
  }
  10% {
    left: 1200px;
  }
  15% {
    left: 1200px;
  }
  20% {
    left: 2400px;
  }
  25% {
    left: 2400px;
  }
  30% {
    left: 3600px;
  }
  35% {
    left: 3600px;
  }
  40% {
    left: 4800px;
  }
  45% {
    left: 4800px;
  }
  50% {
    left: 6000px;
  }
  55% {
    left: 6000px;
  }
  60% {
    left: 7200px;
  }
  65% {
    left: 7200px;
  }
  70% {
    left: 8400px;
  }
  75% {
    left: 8400px;
  }
  80% {
    left: 9600px;
  }
  85% {
    left: 9600px;
  }
  90% {
    left: 10800px;
  }
  /* 95% {
    left: 10800px;
  } */
  100% {
    left: 10800px;
  }
}
@media screen and (max-width: 480px) {
  .slide-container {
    width: 42000px;
    height: 35vh;
    margin: 0px 0px 0px -990px;
  }
  @keyframes slide_image {
    0% {
      left: 0px;
    }
    5% {
      left: 0px;
    }
    10% {
      left: 1200px;
    }
    15% {
      left: 1200px;
    }
    20% {
      left: 2400px;
    }
    25% {
      left: 2400px;
    }
    30% {
      left: 3600px;
    }
    35% {
      left: 3600px;
    }
    40% {
      left: 4800px;
    }
    45% {
      left: 4800px;
    }
    50% {
      left: 6000px;
    }
    55% {
      left: 6000px;
    }
    60% {
      left: 7200px;
    }
    65% {
      left: 7200px;
    }
    70% {
      left: 8400px;
    }
    75% {
      left: 8400px;
    }
    80% {
      left: 9600px;
    }
    85% {
      left: 9600px;
    }
    90% {
      left: 10800px;
    }
    /* 95% {
    left: 10800px;
  } */
    100% {
      left: 10800px;
    }
  }
}
.Advert {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5rem;
  color: gray;
}
@media screen and (max-width: 480px) {
  .Advert {
    font-size: 1.2rem;
    padding: 0;
  }
}
.getIntouch {
  margin: 30px auto;
  @apply flex flex-col items-center border-2
    w-[18%] rounded-[10px] p-[0.25rem] text-[1.5rem] bg-[#0e4e97] text-[white] font-serif;
}
@media screen and (max-width: 480px) {
  .getIntouch {
    width: 40%;
    height: 7vh;
    justify-content: center;
    font-size: 1rem;
  }
}
.getIntouch:hover {
  background-color: transparent;
  color: black;
}
@media screen and (max-width: 480px) {
  .our_Service {
    text-align: center;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
  }
}
.profile_wrap {
  @apply flex flex-col lg:flex lg:flex-row gap-[1rem];
}

.c_profile {
  @apply w-[100%] lg:flex flex-col text-left h-[100%];
}
.c_profile p {
  margin: 1rem 20px;
  @apply lg:text-[1.3rem];
}
@media screen and (max-width: 480px) {
  .c_profile p {
    text-align: left;
    font-size: 1rem;
  }
}
.demo {
  @apply lg:flex flex-col items-center h-[100vh];
}
@media screen and (max-width: 480px) {
  .demo {
    display: none;
  }
}
.display_frame {
  @apply w-[90%] h-[40%] mt-[4rem] rounded-[15px];

  animation: change infinite;
  animation-duration: 60s;
  animation-delay: 5s;
}
@keyframes change {
  0% {
    background-image: url("./asset/312150053_1090676514947704_4342979459506156222_n.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  10% {
    background-image: url("https://www.umontpellier.fr/wp-content/uploads/2022/08/Moustique-The-conversation.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  20% {
    background-image: url("./asset/311952227_439547654988570_2103885009283433665_n.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  30% {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Bed_bug%2C_Cimex_lectularius.jpg/1200px-Bed_bug%2C_Cimex_lectularius.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  40% {
    background-image: url("https://www.collinsdictionary.com/images/full/termite_303633596.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  50% {
    background-image: url("./asset/ed-van-duijn-UUdJ-0LQs0M-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  60% {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Apodemus_sylvaticus_bosmuis.jpg/310px-Apodemus_sylvaticus_bosmuis.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.borda {
  border-left: 5rem solid black;
  @apply h-[6rem] w-[1rem];
}
.base {
  @apply w-[30%] h-[3rem] bg-[black];
}
.ants p,
.spider p,
.rodents p,
.bedbugs p,
.cockroache p,
.mosquitoe p,
.scorpion p,
.flies p,
.termites p,
.snake p {
  @apply lg:text-[1.3rem] m-[1.5rem] text-center;
}
.ants li,
.spider li,
.rodents li,
.bedbugs li,
.cockroache li,
.mosquitoe li,
.termites li {
  list-style: none;
  @apply text-[1.1rem] font-serif p-[1rem];
}
.ants b,
.spider b,
.rodents b,
.bedbugs b,
.cockroache b,
.mosquit0e b,
.termites b {
  @apply font-extrabold text-[1.1rem] ml-[1rem];
}
.bedbugs,
.ants,
.cockroaches,
.mosquitoe,
.rodents,
.spider,
.termites,
.scorpion,
.flies,
.snake {
  @apply flex flex-col-reverse  lg:flex-row gap-[2rem] w-[98%] text-center mt-[2rem];
}
.bedbugs main,
.ants main,
.cockroache,
.mosquitoe main,
.rodents main,
.spider main,
.termites main,
.scorpion main,
.filter main,
.snake main {
  @apply lg:w-[70%] mx-[3%] mb-[5%];
}
.text_picture {
  @apply flex  flex-row  justify-center gap-[1rem] items-center;
}
.filter aside,
.scorpion aside,
.bedbugs aside,
.ants aside,
.cockroaches aside,
.mosquitoe aside,
.rodents aside,
.spider aside,
.termites aside,
.snake aside {
  @apply lg:w-[30%];
}
.pictorial {
  @apply cursor-pointer flex flex-col gap-[2rem] lg:ml-[2rem] w-[100%]  h-[55vh] lg:h-[70vh]  mt-[3rem];
}
.pictorial img {
  @apply max-w-[50vw] lg:w-[100%] h-[60vh]  rounded-md lg:object-cover object-contain;
}
.pictorial p {
  @apply w-[10rem];
}
.pictorial .dropdown {
  position: relative;
  display: flex;
  flex-direction: row;
}
.pictorial .dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 1px;
  align-items: center;
  color: gray;
  margin-left: 8rem;
}
.pictorial .dropdown:hover .dropdown-content {
  @apply flex  flex-col items-center;
}
.dropdown {
  position: relative;
  display: block;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255, 0.9);
  padding: 12px 1px;
  align-items: center;
  color: gray;
  z-index: 2;
}
.dropdown-content li {
  border-bottom: 1px solid lightgray;
  @apply text-[1rem] font-serif font-bold m-[0.5rem];
}
.dropdown-content li:hover {
  @apply bg-[lightgray] rounded-[5px] px-[5%] text-[black];
}
.dropdown:hover .dropdown-content {
  @apply flex  flex-col z-[2];
}
.subdropdown {
  position: relative;
  display: block;
}
.subdropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 10px;
  align-items: left;
  color: gray;
  left: 9.7rem;
  top: -1rem;
}
.subdropdown-content li:hover {
  @apply bg-[lightgray];
}
.subdropdown:hover .subdropdown-content {
  @apply flex flex-col;
}
.frame img {
  @apply w-[100%] h-[40vh] lg:h-[60vh] mt-[1.5rem] rounded-[10px] items-center  object-contain;
}
.pest_class {
  background-image: url("https://assets-us-01.kc-usercontent.com/338e61a8-25d7-0035-f3a0-cea86e563aa1/b1f9189b-5ada-40ca-b8e9-445b5120f86e/procare-homepage-mosquito-control.jpg?w=760&h=480&auto=format&fit=crop");
  background-position: top;
  background-repeat: repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  @apply w-[95%] h-[40vh]  lg:w-[65%] lg:h-[80vh] flex flex-col mt-[15%] justify-end items-end lg:my-[3rem]  lg:ml-[1rem];
}
.ant {
  @apply hidden lg:w-[20%] lg:h-[30vh] rounded-[50%] mb-[20%];
}
.ads {
  @apply w-[100%] flex flex-col  justify-center items-center;
}
.cleaningBg {
  background-image: url("./asset/cdc-jjrXvzbqC5E-unsplash.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  @apply w-[100%] lg:h-[60vh] flex flex-col ml-[1%] justify-center items-center lg:ml-[1rem];
}

.accessibility {
  @apply flex flex-col justify-center items-center max-w-[98%] lg:w-[33vw] h-[88vh] lg:h-[90vh] rounded-[15px] pb-[2rem]  mt-[10%] lg:mt-[4%]  border-[1px];
}
.accessibilityLogin {
  @apply w-[90%] flex flex-col justify-center items-center max-w-[95%] lg:w-[33vw] h-[60vh] lg:h-[80vh] rounded-[15px] pb-[5rem] border-[1px] lg:mt-[4%];
}
.accessibility input,
.travel input,
.accessibilityLogin input {
  @apply outline-none  w-[80%] border-b-[1px] bg-[transparent] ml-[10%] text-white lg:leading-[1.8rem];
}
.accessibility .label,
.accessibilityLogin .label {
  @apply text-[0.70rem] text-[gray] ml-[10%] lg:mt-[1%];
}

.travel label {
  @apply text-[0.70rem] text-[gray] ml-[10%] lg:mt-[5%] text-left;
}
.sign_up_form_container {
  background-image: url("./asset/francesca-tosolini-hCU4fimRW-c-unsplash.jpg");
  background-position: center;
  background-size: cover;
  @apply flex flex-col justify-center items-center w-[100%] h-[100%];
}
.login_overlay {
  background-color: rgba(20, 3, 20, 0.8);
  @apply w-[100%] h-[100vh]  flex  flex-col  justify-center  items-center;
}
.styleInputSection {
  @apply w-[85%] h-[52vh] lg:w-[90%] lg:h-[76vh] flex flex-col justify-center rounded-[20px] pb-[10px] mt-[15%]  lg:mt-[0px];
}
.styleInputSectionLogin {
  @apply w-[80%] h-[30vh] mt-[5%] lg:h-[75vh] flex flex-col justify-center lg:mt-[8rem] lg:mb-[2rem] rounded-[10px];
}
.uploadFileInput {
  @apply w-[100%] flex flex-row  gap-[3rem] lg:gap-[4rem] justify-center items-center rounded-[15%]  lg:py-[0.80rem] my-[4%] lg:my-0;
}
.fileLabel {
  @apply w-[60px] h-[60px] lg:w-[100px] lg:h-[90px] rounded-[20%] bg-[#95bbdf] flex flex-col justify-center items-center cursor-pointer text-[white] text-center;
}
.info_text {
  @apply w-auto rounded-[10px] bg-[#95bbdf] flex flex-col cursor-pointer text-[white] my-[1%] p-[1%];
}
.fileInput {
  @apply outline-0 hidden;
}
.fileLabel p {
  @apply text-[0.60rem] lg:text-[1rem];
}
.fileIcon {
  @apply lg:w-[60px] lg:h-[50px] fill-[white];
}

.text {
  @apply text-[1rem] text-[#010080]  font-extrabold  mt-[4%];
}
.tnc {
  @apply w-[100%] h-[50%] flex flex-col items-center;
}
.tnc .firstDiv {
  @apply flex flex-row justify-between items-center text-[0.85rem] gap-[5%] w-[80%] py-[20px];
}
.tnc .secondDiv {
  @apply w-[15%] flex flex-row items-center gap-[5px];
}
.sign_upButtonDiv {
  @apply w-[100%] text-white flex flex-col justify-center items-center text-[0.90rem];
}
.sign_upButton {
  @apply w-[80%] py-[0.5rem] lg:p-[15px] rounded-[5px] text-white font-extrabold outline-0 flex flex-row justify-center items-center gap-[0.5rem];
}
.icon {
  @apply w-[20px] h-[25px] outline-0;
}
.errorMsg {
  @apply bg-[red]  border-[1px] border-[red] rounded-[5px] px-[4rem] mt-[3px]  text-[white];
}
.loginText {
  @apply text-[white] cursor-pointer font-extrabold mt-[3%];
}
.loginReset {
  @apply flex flex-row justify-between items-center text-[0.85rem] w-[80%] py-[20px]  text-white;
}
.checkDiv {
  @apply w-[50%] flex flex-row items-center gap-[5px];
}
.loginResetParentDiv {
  @apply w-[100%] h-[50%] flex flex-col items-center;
}
.avartaIcon {
  @apply w-[60px] h-[60px] lg:w-[100px] object-cover lg:h-[90px] rounded-[20%];
}
.fileImg {
  @apply w-[60px] lg:w-[100px] object-cover h-[60px] lg:h-[90px] border-[1px] rounded-[20%];
}
.btnContainer {
  @apply w-[70%] flex flex-row justify-center  items-center bg-[#0f0326] rounded-[15px] mb-[5px];
}
.terms {
  @apply text-[0.75rem] text-[white] lg:leading-[15px] font-bold;
}
.GrCheckboxIcon {
  @apply fill-white  w-[20px] h-[25px];
}
.BsFillCheckSquareFillIcon {
  @apply fill-[white] w-[20px] h-[25px];
}
.irehv {
  @apply cursor-pointer;
}
.dashboard {
  @apply mt-[5%];
}
.logout {
  @apply outline-none text-[0.95rem] text-[#01004d] font-bold cursor-pointer;
}
.dashBoardDiv {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dash_aside,
.mobile_dash_asides {
  @apply ml-[1rem] rounded-[15px] lg:mt-[4%] text-[gray] fixed  bg-[white] z-[1] border-[1px];
}
.dash_aside {
  @apply max-w-[60vw] mt-[4%]  lg:w-[19%] h-[100%] lg:h-[90%] hidden lg:flex flex-col;
}
.mobile_dash_asides {
  @apply max-w-[15rem] mt-[13%]  lg:w-[19%] h-[88%] lg:h-[90%] flex flex-col lg:hidden;
}
.dash_aside img {
  width: 1.5rem;
}
.statusManager {
  display: flex;
  flex-direction: row;
  height: 20vh;
  justify-content: center;
  align-items: center;
  border-radius: 15px 15px 0px 0px;
  gap: 0.75rem;
  color: purple;
  border-bottom: 4px double purple;
  padding: 1rem 1rem;
}
.statusManager img {
  @apply w-[35%] h-[80%] object-cover border-[2px] border-[pink] rounded-[50%];
}
.dash {
  @apply flex flex-col text-left gap-[0.15rem] mt-[0.5rem];
}
.dash div {
  @apply w-[90%] flex  flex-row gap-[1.7rem]  items-center ml-[0.75rem] lg:gap-[1.5rem] py-[0.45rem] lg:px-[2rem] cursor-pointer  hover:bg-[#5e72e4] hover:text-[white] rounded-[10px] font-serif font-bold pl-[1.3rem];
}
.dash div i {
  @apply text-left;
}
.mainClass {
  @apply lg:w-[78vw]  mt-[20%] lg:mt-[0px] lg:relative lg:ml-[17rem];
}
.mainClass::-webkit-scrollbar {
  @apply flex-none;
}
.container {
  @apply w-[100%] flex  flex-col  justify-center items-center;
}
.WrapperContainer {
  @apply w-[100%] md:w-[90%]  md:gap-[1rem] md:grid grid-cols-[repeat(auto-fit,minmax(15rem,1fr))] lg:flex  lg:flex-row lg:justify-center lg:items-center lg:gap-[10px] lg:w-[95%];
}
.WrapperContainer div {
  cursor: pointer;
  @apply w-[90%] h-[7rem] my-[1rem] lg:w-[100%] lg:h-[8rem] ml-[5%] lg:ml-[0px] rounded-[20px] lg:my-[1rem] bg-[#ffffff] flex  lg:flex-row justify-around items-center text-[gray]  font-bold;
}

.WrapperContainer div span {
  @apply bg-[purple] rounded-[100%] p-[10px];
}
/* .WrapperContainer div span:nth-child(1) {
  @apply bg-[tomato] rounded-[100%] p-[10px];
} */

.icon {
  @apply w-[25px]  h-[25px] fill-[white];
}

.dashboardIcon {
  @apply w-[20px]  h-[20px];
}

.analytics {
  @apply flex flex-row lg:mx-[1.6rem] lg:gap-[1.3rem];
}
.field {
  display: flex;
  flex-direction: column;
  margin: 0.3rem 0px;
  gap: 0.75rem;
}
.graphField {
  @apply w-[93vw] ml-[1%] lg:ml-[0px] lg:px-[2rem] overflow-x-auto lg:w-[48vw] h-[60vh] bg-[white] rounded-[20px] border-[1px];
}
.graphField::-webkit-scrollbar {
  @apply flex-none;
}

.revenue {
  width: 25.9vw;
  height: auto;
  margin-top: 0.5rem;
  background-image: url("./asset/ed-van-duijn-UUdJ-0LQs0M-unsplash.jpg");
  background-position: left;
  background-size: cover;
  object-fit: cover;
  border-radius: 15px;
  @apply hidden  lg:flex;
}
.Image {
  margin-top: 0.5rem;
  background-image: url("https://media.istockphoto.com/id/1047001986/photo/business-strategy.jpg?b=1&s=170667a&w=0&k=20&c=deNq0aMRx3JkQ3UtFffIewUHEayUtpJH0DXLIDprxrk=");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  @apply hidden w-[26vw] h-auto lg:flex;
}
.modal {
  @apply w-[100%] h-[75vh] lg:w-[100%] lg:h-[100vh] flex  flex-row  justify-center  items-center  mt-[10%]  lg:mt-[0px];
}
.modalBg {
  background-image: url("https://assets-us-01.kc-usercontent.com/338e61a8-25d7-0035-f3a0-cea86e563aa1/b1f9189b-5ada-40ca-b8e9-445b5120f86e/procare-homepage-mosquito-control.jpg?w=760&h=480&auto=format&fit=crop");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  @apply w-[85%] lg:w-[50%] h-[80%] rounded-[5%]  lg:mt-[3%] text-white object-contain;
}
.modalContainer {
  background-color: rgb(0, 0, 0, 0.5);
  @apply w-[100%] h-[100%] flex flex-col justify-center
    items-center rounded-[5%] font-bold gap-[1rem];
}
.buttonContainer {
  @apply flex flex-row gap-[0.5rem];
}
.buttonContainer button {
  @apply outline-transparent px-[5px] rounded-[5px] lg:px-[1.5rem] py-[0.35rem] border-[2px]  border-[#95bbdf] hover:bg-[#95bbdf] hover:text-[black] mt-[20px] text-[0.90rem] font-serif;
}
.accessibleUpdate {
  @apply flex flex-col justify-center items-center  lg:w-[25vw] h-[70vh] leading-[1.3rem] border-[2px] font-serif  mt-[15%] rounded-[2%] bg-white;
}
.inputField {
  @apply w-[70%] flex flex-col justify-center gap-[0.5rem]  my-[5%];
}
.inputField input {
  @apply outline-transparent p-[0.5rem] bg-[transparent] border-b-[1px];
}
.updateButtonContainer {
  @apply flex flex-row gap-[0.5rem] justify-center items-center w-[90%];
}
.updateButtonContainer button {
  @apply outline-transparent rounded-[2px] border-[1px]  border-[#95bbdf] hover:bg-[transtarent] hover:py-[2px] text-[0.90rem] font-serif px-[1rem]  py-[0.35rem] mt-[10px];
}
.updateFile::-webkit-input-placeholder {
  @apply hidden;
}
.irehvModal {
  @apply w-[30%] h-[10%] mb-[13%] py-[5px];
}
.colarrange {
  @apply flex flex-col;
}
.colarrange nav {
  @apply flex flex-col text-[0.80rem] font-bold;
}
.colarrange nav p {
  @apply flex flex-row items-start text-[0.80rem] font-bold;
}
nav i {
  @apply text-[1.2rem]  text-[#3e506e];
}
.tableWrapper {
  @apply flex  flex-col justify-center items-center w-[95%] lg:w-[77vw] bg-[white] mt-[5%] lg:ml-[1rem] rounded-[15px];
}
.productWrapper {
  @apply flex  flex-col justify-center items-center w-[95%] ml-[2%] lg:w-[77vw] bg-[white] mt-[5%] lg:ml-[1rem] rounded-[15px];
}
.Author {
  @apply w-[95%] mt-[5%];
}
.tableHeader {
  @apply w-[100%] text-[#5e72e4]  text-[1rem] lg:text-[1.2rem] font-serif m-[0];
}
.userTableHeader {
  @apply text-[#344767] font-bold mt-[15%] border-b-[1px] font-serif  lg:w-[73vw];
}

.Authoricon {
  @apply w-[50px] h-[50px] object-cover rounded-[5px] border-[1px] border-[#344767];
}
.AuthorAlign {
  @apply min-w-[30%] lg:w-[100%] flex flex-row items-center gap-[1rem] text-[1.2rem];
}
.offline {
  @apply rounded-[5px] text-center text-[lightgray];
}
.online {
  @apply rounded-[5px] text-center text-[green];
}
.delete:hover {
  @apply cursor-pointer text-[red];
}
.data_analysis {
  @apply w-[100%] lg:w-[100%] mt-[6%]  lg:ml-[0.3rem];
}
.filter-user {
  box-shadow: 1px 5px 12px black;
  right: 0;
  @apply lg:w-[60%] outline-0 border-b-[1px] bg-[transparent] rounded-[10px] h-[40px];
}
.filter-user::placeholder {
  @apply text-[gray]  text-[1rem] font-serif  px-[1rem];
}
.searchField {
  @apply flex  flex-row lg:justify-end  items-center mt-[10%];
}

.client {
  @apply text-[1.2rem] font-serif;
}
.parentContainer {
  @apply w-[100%];
}
.resetArrow {
  @apply flex  flex-row  justify-center  items-center;
}
.resetArrow input {
  @apply w-[50%] lg:w-[100%] outline-0  bg-[transparent] border-b-[1px];
}
.resetArrowIcon {
  @apply w-[40px] h-[25px] border-[1px];
}
.reset_password {
  @apply cursor-pointer;
}
.productUpdate {
  @apply w-[95%] h-[50%] ml-[2%] lg:w-[77vw] flex  flex-row  bg-[white] lg:ml-[1rem] justify-center  items-center  mt-[6%] rounded-[15px];
}
.paymentUpdate {
  @apply w-[100%] h-[70%] flex  flex-row  bg-[white] justify-center  items-center  mt-[3%] rounded-[15px];
}
.productSidebg {
  background-image: url("https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/signin-ill.jpg");
  background-size: contain;
  background-position: center;
  @apply hidden  lg:flex w-[58%]  h-[85vh] rounded-[15px] mb-[1rem];
}
.productSidebg div {
  background-color: rgb(55, 55, 255, 0.4);
  @apply hidden w-[100%] h-[100%] rounded-[15px] lg:flex  flex-col justify-center items-center  text-white font-bold;
}
.BookingForm {
  background-image: url("./asset/alexas_fotos-gSYeFmQamuo-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
.BookingOverlay {
  background-color: rgb(0, 0, 0, 0.6);
  @apply w-[100%] h-[100%] text-center flex  flex-col pb-[3rem] lg:pb-[0px] lg:flex-row justify-center items-center lg:mt-[4%];
}
.BookingOverlay label,
.BookingText {
  @apply font-serif font-bold text-white;
}
.productUpdateForm {
  @apply w-[90%] h-[100%] mt-[22%] md:mt-[15%] lg:mt-[4px] mb-[5%] lg:w-[40%] lg:h-[95vh] flex  flex-col justify-center items-center  gap-[0.5rem];
}
.row {
  @apply flex  flex-row-reverse;
}
.productUpdateForm input {
  @apply w-[85%] h-[40px] rounded-[10px]  outline-0 pl-[10px]   border-[1px];
}
.productUpdateForm label {
  @apply pl-[10px] font-serif mr-[60%]  font-bold text-[0.90rem];
}
.productUpdateForm input::placeholder {
  @apply font-bold font-serif  text-[1rem] text-[gray];
}
.productUpdateForm button {
  @apply font-bold font-serif  text-[1rem] text-[white] w-[85%] rounded-[10px] h-[50px] mt-[1rem] bg-[#5e72e4];
}
.irehvupdateform {
  @apply w-[30%]  h-[7%] my-[1%] lg:my-[5%];
}
.updateheader {
  @apply text-[#5e72e4] text-center;
}
.texts {
  @apply w-[70%] text-center;
}
.googlepay {
  @apply w-[100%] h-[100vh] flex flex-col justify-center items-center;
}

.menuBar {
  @apply w-[2rem] h-[1.8rem] fill-[black];
}
.mobile {
  @apply flex fixed top-0 md:hidden lg:hidden z-[1];
}
.mobile_logo {
  @apply w-[5rem] h-[1.5rem];
}
.mobile_nav {
  @apply min-w-[100vw] flex flex-row  justify-around  gap-[55%] items-center py-[0.5rem] bg-[white] z-[1];
}
.mobile_bar {
  @apply min-w-[65vw] flex flex-row  justify-between  py-[0.5rem] items-center bg-[teal] z-[1];
}
.mobile_navs {
  background-color: rgb(0, 0, 0, 0.9);
  @apply w-[70vw] h-[100vh] flex flex-col gap-[0.5rem] font-serif text-[white] font-bold text-[1.2rem]  z-[2];
}
.mbnavoverlay {
  background-color: rgb(0, 0, 0, 0.5);
  @apply w-[98vw] h-[100%];
}
.rowwing {
  @apply w-[90%] flex flex-row items-center  hover:bg-[teal] text-[white] hover:text-[black] mx-[1rem] gap-[2rem] pl-[0.75rem] py-[0.65rem] rounded-[10px];
}
.paymentImg {
  @apply w-[40%] h-[10rem];
}
.hide {
  @apply hidden lg:flex flex-row;
}

.viewList {
  @apply text-[gray] font-serif font-bold text-[1rem] cursor-pointer;
}
.naira {
  @apply lg:hidden;
}
.user {
  @apply w-[97%] text-[0.90rem] lg:w-[100%] lg:leading-[2rem]  bg-[white];
}
.user i {
  @apply text-[blue];
}
.err {
  box-shadow: 1px 1px 4px 1px black;
  @apply bg-[lightray] border-[1px] px-[20px] py-[5px] lg:text-[1.2rem] text-[red] rounded-[15px];
}
.tableDiv {
  @apply w-[100%] flex  flex-row lg:px-[4rem]  text-[#5e72e4]  lg:text-[1.5rem]  lg:justify-between font-serif  font-bold;
}
.usersContainer {
  @apply w-[100%] bg-[lightgray] h-[300vh];
}
.user_col {
  @apply pt-[15%];
}
.dashBoardDiv {
  background-image: url("https://www.dcu.ie/sites/default/files/styles/widescreen_television/public/media/2018/08/11/why_dcu_connected.jpg?itok=Ff-67EpB");
  background-size: cover;
  background-position: left;
  @apply w-[100%] bg-[lightgray];
}

.mainBody {
  @apply w-[80%] h-[70vh] lg:ml-[20%] lg:mt-[0px];
}
.profile {
  @apply flex flex-col-reverse  gap-[2rem]  justify-center items-center lg:flex-row lg:justify-start lg:items-start w-[93vw] lg:w-[97%]  h-auto lg:gap-[0.5rem] mt-[8%];
}
.profileForm {
  @apply flex flex-col lg:flex-row justify-center items-center lg:w-[75%] h-auto  ml-[2%] bg-[white] rounded-[20px];
}
.profileForm form {
  @apply lg:w-[90%] mx-[2%] my-[5%] bg-[white];
}
.profileForm h6 {
  @apply my-[1rem];
}
.formDiv label,
.contactInfo label,
.contactContainer label {
  @apply text-[0.85rem] text-[#3c4e6d] font-serif font-bold;
}
.formDiv input {
  @apply w-[100%] lg:w-[17.8rem] py-[0.35rem] my-[0.25rem] outline-0 border-[1px] rounded-[10px];
}

.formDiv {
  @apply w-[100%] flex  flex-row gap-[1rem];
}
.formDiv div,
.contactInfo div {
  @apply flex flex-col;
}
.contactContainer {
  @apply flex  flex-col gap-[0.5rem];
}

.contactInfo {
  @apply w-[100%] gap-[0.5rem] inline-flex;
}
.contactContainer input {
  @apply w-[100%] outline-0 border-[1px] rounded-[10px] py-[0.45rem] my-[0.5rem];
}
.userInfo {
  @apply flex  flex-row;
}
.profileImage {
  @apply w-[80%] lg:w-[32%] h-[80vh] bg-[white] rounded-[15px] ml-[2%];
}
.myPics {
  background-image: url("https://kwarastate.gov.ng/wp-content/uploads/Screen-Shot-2021-12-17-at-11.52.18-PM.jpeg");
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0px 0px;
  @apply flex  flex-col  justify-center items-center w-[100%] h-[30vh];
}
.myPics img {
  @apply mt-[15rem] w-[5rem] h-[14vh] rounded-[100%] border-[white] border-[3px];
}
.location {
  @apply animate-bounce mt-[1rem] w-[25px] h-[25px] fill-[#3c4e6d];
}
.scan {
  @apply w-[75px] h-[10px] animate-ping bg-[orange] rounded-[100%] mb-[2%];
}
.userDetail {
  @apply flex flex-col justify-center items-center mt-[30%];
}
.bg {
  @apply bg-[teal];
}
.btn {
  @apply border-[1px] text-[#3c4e6d] hover:bg-[#5e72e4] hover:text-[white] p-[0.20rem] rounded-[5px] px-[0.5rem] font-serif;
}
.uploadBtn {
  @apply flex flex-row justify-between items-center  gap-[3rem];
}
.loader {
  border-left: transparent;
  border-bottom: transparent;
  border: 10px dotted;
  @apply rounded-[100%] w-[5.5rem] h-[14vh] animate-spin;
}
.loaderDiv {
  @apply flex  flex-col  justify-center  items-center gap-[1rem] my-[1rem];
}
.routeBtn {
  @apply flex flex-row justify-center items-center  rounded-[25px]  text-[white] font-serif font-bold lg:w-[90%] bg-[blue] mt-[1rem] lg:mt-[2rem] lg:ml-[5%] border-[1px] gap-[0.15rem];
}
.routeBtn button {
  @apply lg:w-[100%] h-auto rounded-[25px] lg:px-[2rem]  hover:bg-[white] hover:text-[black] hover:border-[1px] py-[0.5rem];
}
.postForm {
  @apply w-[96%]  ml-[2%] flex flex-col justify-start mt-[5%] bg-[white] rounded-[10px];
}
.serviceDetail {
  @apply w-[96%] ml-[2%] flex flex-col gap-[2rem] lg:flex-row justify-evenly mt-[5%] bg-[white] rounded-[10px];
}
.serviceDetail div {
  @apply w-[96%] flex flex-col justify-start mt-[1%];
}
.serviceDetail div h3 {
  @apply mx-[2%] mt-[1%] text-[purple] font-bold;
}
.postForm form {
  @apply flex flex-col font-serif font-bold p-[0.5rem];
}
.postForm form div {
  @apply flex flex-row  justify-end p-[1rem] gap-[1rem];
}
.postForm form textarea {
  @apply rounded-[5px] outline-0 border-[1px] border-[lightgray] pl-[1rem] pt-[1rem];
}
.postingform textarea::placeholder {
  @apply text-[lightgray];
}
.postBtn {
  @apply flex flex-col justify-center items-center w-[8rem] rounded-[15px] px-[0.25rem] hover:bg-[lightgray] hover:text-[black] border-[1px] text-[lightgray];
}
.send {
  @apply fill-[lightgray] w-[25px] h-[25px] cursor-pointer hover:fill-[green];
}
.info {
  @apply w-[98%] flex flex-col  justify-start items-start lg:w-[95%] p-[2%] font-bold;
}
.comment_info {
  @apply w-[98%] flex flex-col justify-end  items-end lg:w-[95%] p-[2%] font-bold;
}
.date {
  @apply text-[0.9rem] font-serif  text-[white] bg-[purple] w-auto rounded-[10px]  p-[3px];
}
.postPhotos {
  @apply lg:w-[30%] lg:h-[30vh] rounded-[10px];
}
.split {
  @apply flex flex-row;
}
.our-team-container {
  background-image: url("https://thumbs.dreamstime.com/b/weed-insecticide-fumigation-organic-ecological-agriculture-spray-pesticides-pesticide-fruit-lemon-growing-agricultural-167279928.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 0% 100% 0px 100%;
  background-attachment: fixed;
  @apply bg-[lightgray] flex flex-row justify-center  items-center lg:my-[5%];
}

.our-team-overlay {
  background-color: rgba(0, 0, 255, 0.2);
  border-radius: 0% 90% 0% 90%;
  @apply w-[100%] pb-[10%] flex flex-col justify-center  items-center;
}
.our-team {
  @apply flex  flex-col lg:grid lg:grid-cols-5 place-items-center gap-[1rem] lg:gap-[0px]  w-[100%];
}
.our-team div {
  @apply w-[78%] h-[75vh] lg:w-[90%] lg:h-[70vh] bg-[white] rounded-[5px] flex flex-col items-center  text-center gap-[0.5rem] px-[2%];
}

.our-team div i {
  @apply w-[80%] font-bold text-center text-[0.90rem] font-serif hover:text-[white];
}
.our-team div img {
  @apply my-[8%] w-[5rem] h-[15vh] lg:w-[8rem] lg:h-[20vh] object-[80%] rounded-[100px] border-[2px] border-[gray];
}
.name {
  @apply text-[1.2rem] font-serif font-bold text-[#217192];
}
.our-team div:hover {
  box-shadow: 1px 1px 15px 1px #a7d7f6;
  transform: scale(1.1);
  @apply bg-[#324959] text-[white] rounded-[5px];
}
.our-team-container h3 {
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.9);
  @apply text-[2rem] lg:text-[6rem] text-[white]  my-[3%] lg:my-[5%] font-bold;
}
.social-medial {
  @apply flex flex-row justify-center items-center gap-[0.5rem];
}
