@tailwind base;
@tailwind components;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./asset/peter-f-wolf-XG8eYNYdz54-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* @media screen and (min-width: 320px) {
    width: 100%;
    background-color: pink;
  } */
}
@media screen and (max-width: 480px) {
  body {
    width: 100%;
    background-color: transparent;
  }
}
h1 {
  @apply text-[2.9rem];
}
h2 {
  @apply text-[2.5rem] font-serif;
}
h3 {
  @apply text-[2.3rem] font-serif;
}
h4 {
  @apply text-[1.7rem] font-serif;
}
h5 {
  @apply text-[1.5rem] text-[white] font-serif;
}
p {
  @apply font-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@tailwind;
