@tailwind base;
@tailwind components;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  @apply text-[2.7rem];
}
h2 {
  @apply text-[2.5rem] text-[#0e4e97] font-serif;
}
h3 {
  @apply text-[2.3rem] text-[#f57f80] font-serif;
}
h4 {
  @apply text-[1.7rem] text-[#0e4e97] font-serif;
}
h5 {
  @apply text-[1.5rem] text-[white] font-serif;
}
p {
  @apply font-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@tailwind;
