@tailwind base;
@tailwind components;

body {
  margin: 0;
  font-family: "darker grotesque";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
  width: 100%;
  scroll-behavior: smooth;
  scroll-padding: 10rem;
}
.slick-slide > div {
  margin: 0 10px;
}

@media screen and (max-width: 480px) {
  body {
    width: 95%;
    margin-left: 2%;
    background-color: white;
  }
}
button {
  font-family: "darker grotesque";
  @apply outline-0;
}
li {
  font-family: "darker grotesque";
}
::placeholder {
  font-family: "darker grotesque";
}
h1 {
  font-family: "darker grotesque";
  @apply text-[1.5rem] lg:text-[2.5rem];
}
h2 {
  font-family: "darker grotesque";
  @apply text-[1.3rem] lg:text-[2.3rem];
}
h3 {
  font-family: "darker grotesque";
  @apply text-[1.2rem] lg:text-[1.7rem];
}
h4 {
  font-family: "darker grotesque";
  @apply text-[1.2rem] lg:text-[1.7rem];
}
h5 {
  font-family: "darker grotesque";
  @apply text-[1.5rem] text-[#133063] font-bold;
}
h6 {
  font-family: "darker grotesque";
  @apply text-[1rem] lg:text-[1.3rem] text-[#133063];
}
p {
  font-family: "darker grotesque";
  @apply lg:text-[1.3rem];
}

@tailwind;
